<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Test métier Smart Impulse</title>
	<style type="text/css">
		body {
			font: 18px/1.5em Helvetica, Arial, sans-serif;
		}

		h2 {
			font: normal 32px Helvetica, Arial, sans-serif;
		}

		#header {
			text-align: center;
			width: 900px;
			margin: auto;
		}

		#content {
			width: 880px;
			margin: 0 auto;
			padding: 10px;
		}

		#main {
			height: 600px;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.js" integrity="sha256-zV9ArBpbKD/jm+76tSTB7DUFS75h/TOOvcjyRA1Ou6Q=" crossorigin="anonymous"></script>
</head>
<body>
<form method="POST">
	{% csrf_token %}
<div class="row" >
	<div class ="col-md-6">
		<p><b> Courbes de consommation</b>
				<select name="categories" class="form-control"  onchange="get_data(this)">
					{% for categories in categories %}
					<option id="v{{categories.id}}" value="{{categories.id}}"> {{categories.name}}</option>
					{% endfor %}
				</select>
		</p>

	</div>
</div>
</form>


<p id="demo">JavaScript can change HTML content.</p>
	<div id="header">
		<p id="ajax"></p>
		<h2>Smart Impulse: Graph example</h2>
	</div>

	<div id="content">

		<div id="main"></div>

		<p><a href="https://echarts.apache.org/en/index.html">ECharts</a> supports lines, points, filled areas, bars and any combinations of these, in the same plot and even on the same data series.</p>

	</div>
	<script>

function get_data(selectObject) {
var obj
	var v = selectObject.value
	console.log(selectObject.value);
    let formData = new FormData();
    formData.append('cat',  selectObject.value);
	const request = new Request('{% url "compute" %}', {method: 'POST', body: formData});
	fetch(request)
	  .then((response) => response.json())
	  .then((data) => document.getElementById('demo').innerHTML=data["o"])
	  .then(data => {
        return data["o"];
    })
}






var chartDom = document.getElementById('main');
var myChart = echarts.init(chartDom);
var option;
option = {
  legend: {},
  tooltip: {},
  dataset: {
    // Provide a set of data.
    source: {{l|safe}}
  },
  // Declare an x-axis (category axis).
  // The category map the first column in the dataset by default.
  xAxis: { type: 'category' },
  // Declare a y-axis (value axis).
  yAxis: {},
  // Declare several 'bar' series,
  // every series will auto-map to each column by default.
    series: [
    {
      type: 'line',
      encode: {
        // Map "amount" column to x-axis.
        x: 'power',
        // Map "product" row to y-axis.
        y: 'date',label: ['name']
      }
    }
  ]

};


option && myChart.setOption(option);


</script>
</body>
</html>
